.header {
  width: 100%;
  padding: 1.5rem 0;
  /* background-color: #283c86; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.logo img {
  background-color: #283c86;
  border-radius: 8px;
}

.logo span {
  font-family: var(--font-family-logo);
  font-size: 1.25rem;
  cursor: pointer;
}

.logo span a {
  color: var(--text-color-primary);
}

.toplinks {
  display: none;
}

.toplinks a {
  color: var(--text-color-primary);
  padding: 3px 5px;
}

.topsearch {
  width: 255px;
}

.topsearch input {
  width: 250px;
  padding: 0.6rem 1rem;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid var(--color-primary);
  transition: all 0.5s;
}

.topsearch input::placeholder {
  color: rgba(1, 20, 17, 0.5);
}

.topsearch input::-webkit-input-placeholder {
  color: rgba(1, 20, 17, 0.5);
}

.topsearch input::-moz-placeholder {
  color: rgba(1, 20, 17, 0.5);
}

.topsearch input:focus {
  background-color: #fff;
  outline-color: var(--color-primary);
  outline-style: groove;
  opacity: 1;
}

.hiddenNav {
  position: absolute;
  top: 3%;
  left: 0;
  width: 100%;
  background-color: #283c86;
  padding: 1rem 0;
  z-index: 20;
  transform: translateY(62px);
  transition: transform 1s linear;
}

.hiddenNav__closebtn {
  cursor: pointer;
  padding: 0 2rem;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  float: right;
  display: none;
}

.hiddenNav ul {
  list-style-type: none;
  display: grid;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.hiddenNav ul li {
  /* width: 90%; */
  padding: 1rem 0;
}

.hiddenNav ul li a {
  color: #fff;
  cursor: pointer;
}

.hiddenNav ul li a:hover {
  color: #333;
}

/* Responsiveness, media */

@media screen and (max-width: 300px) {
  .nav {
    width: 92%;
  }
  .topsearch {
    margin-left: 0.5rem;
  }
  .topsearch input {
    width: 130px;
  }
}
@media screen and (min-width: 301px) and (max-width: 428px) {
  .nav {
    width: 91%;
  }
  .topsearch {
    max-width: 140px;
  }

  .topsearch input {
    max-width: 130px;
    padding: 0.4rem;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .nav {
    width: 94%;
  }
  .hiddenNav ul {
    width: 94%;
  }
}

@media screen and (min-width: 720px) and (max-width: 767px) {
  .topsearch {
    width: 260px;
  }
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  .topsearch {
    max-width: 150px;
  }
  .topsearch input {
    max-width: 150px;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 770px) {
  .toplinks {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }

  .toplinks li {
    flex: 1;
    width: 60px;
  }

  .hiddenNav {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    width: 94%;
  }
}

@media screen and (min-width: 900px) {
  .nav {
    width: 96%;
  }
}

@media screen and (min-width: 1024px) {
  .topsearch {
    width: 250px;
  }
}

@media screen and (min-width: 1096px) {
  .nav {
    width: 96%;
  }
  .topsearch {
    width: 240px;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    width: 85%;
  }
}

@media screen and (min-width: 1300px) {
  .nav {
    width: 90%;
  }
}

@media screen and (min-width: 1400px) {
  .nav {
    width: 70%;
  }
}

@media screen and (min-width: 1900px) {
  .nav {
    width: 60%;
  }
}

@media screen and (min-width: 2160px) {
  .nav {
    margin: 0 auto;
    width: 50%;
    padding-left: 0.5rem;
  }

  .topsearch {
    max-width: 300px;
  }

  .topsearch input {
    max-width: 300px;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 3000px) {
  .nav {
    margin: 0 auto;
    width: 30%;
    padding-left: 0.5rem;
  }
}
